<div>

  <img class ="beer" src="images/beer.png"/> 
  <button class ="beers"><a href = "/beers">Check the beers!</a></button>
  <button class = "random"><a href = "/random-beer">Random beer!</a></button>  
  
</div>
