/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;  
}
.barra {
    color: white;
    background-color: #2081c3;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;    
}
.home{ 
    margin-right: 20px;
}
.cerves {
    margin-right: 20px;
}
a {
    color: white;
    text-decoration: none;
}

div button {
    background-color: #2081c3;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: block;
    margin: auto;
}
.beers {
    margin-top: 30px;
    margin-bottom: 20px;
}
.random {
    margin-top: 20px;
    margin-bottom: 30px;
}
.beer{
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
}

footer p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #0a2c42;
    padding-top: 20px;
    padding-bottom: 20px;  
}
.cervezas {
    margin-left: 33px;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.fotos {
    width: 33%;
    height: 33%;
    margin: center;
}
.imagen {
    width: 80px;
    height: 210px; 
}
.name {
    justify-content: left;
    font-size: 20px;
}
.tagline {
    justify-content: left;
    color: #bfbfbf; 
}
.description {
    font-size: 15px;
}